data
models
medias
Ressources
venvP8
.dvc
.git
__pycache__
autoalbument
logs

# Allow files and directories
!models/FPN-efficientnetb7_with_data_augmentation_2_diceLoss_512x256.tflite
!data/preprocessed/512x256/val
